*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  --font-family: "Overpass", sans-serif;
  --fontweight-regular: 400;
  --fontweight-bold: 700;
  --fontsize-body: 15px;
  --accent-color: hsl(25, 97%, 53%);
  --white-color: hsl(0, 0%, 100%);
  --light-grey-color: hsl(217, 12%, 63%);
  --medium-grey-color: hsl(216, 12%, 54%);
  --background-color-card: #1e252f;
  --background-color-body: hsl(216, 12%, 8%);
  --background-color-icons-buttons: #262f36;
}

body {
  font-family: var(--font-family);
  font-size: var(--fontsize-body);
  background-color: var(--background-color-body);
  height: 100vh;
  display: grid;
  place-content: center;
}

.container {
  place-items: center;
  background-color: var(--background-color-card);
  width: 320px;
  height: 380px;
  padding: 1.5rem;
  border-radius: 1.6rem;
}

@media (min-width: 700px) {
  .container {
    width: 415px;
    height: 370px;
  }
}

.star-icon {
  background-color: var(--background-color-icons-buttons);
  font-weight: 1rem;
  padding: 0.7rem;
  border-radius: 50%;
}

h1 {
  color: var(--white-color);
  font-size: 1.7rem;
  font-weight: var(--fontweight-regular);
  margin: 1rem 0;
}

p {
  color: var(--light-grey-color);
  margin-bottom: 1.5rem;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.ratings {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.button {
  background-color: var(--background-color-icons-buttons);
  color: var(--light-grey-color);
  text-decoration: none;
  text-align: center;
  line-height: 42px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  transition: all ease-in-out 0.25s;
}

@media (min-width: 700px) {
  .button {
    line-height: 48px;
    width: 48px;
    height: 48px;
  }
}

.button:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.button.active,
.button:active,
.button:focus {
  background-color: var(--light-grey-color);
  color: var(--white-color);
}

.submit {
  background-color: var(--accent-color);
  color: var(--white-color);
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1;
  padding: 0.8rem;
  border-radius: 2rem;
  cursor: pointer;
}

.submit:hover {
  background-color: var(--white-color);
  color: var(--accent-color);
}

.container-thank-you {
  display: none;
  text-align: center;
}

.illustration-thank-you {
  margin: 1rem auto;
  max-height: 92px;
}

h2 {
  background-color: var(--background-color-icons-buttons);
  color: var(--accent-color);
  font-weight: var(--fontweight-regular);
  font-size: var(--fontsize-body);
  line-height: 11px;
  display: inline-block;
  padding: 0.6rem 0.95rem;
  border-radius: 2rem;
  margin: 1rem 0 0.5rem;
}

@media (min-width: 700px) {
  .thank-you-text {
    padding: 0 0.8rem;
  }
}

.attribution {
  color: var(--white-color);
  font-size: 0.6rem;
  text-align: center;
  margin-top: 2rem;
  font-style: italic;
}
.attribution a {
  color: var(--accent-color);
  text-decoration: none;
}
