:root {
  --blue: #66e2dc;
  --red-orange: #fa7453;
  --orange-yellow: #ffb964;
  --white: #fcfaf9;
  --background-color: #f2f2f2;
  --black: #191826;
  --font-family: "IBM Plex Sans", sans-serif;
  --bold-font-weight: 700;
  --reg-font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  font-family: var(--font-family);
  font-weight: var(--reg-font-weight);
  background-image: url(images/bg-main-mobile.png);
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-position: right -225px top -225px;
}

@media (min-width: 680px) {
  body {
    background-image: url(images/bg-main-tablet.png);
    background-position: right -225px top -225px;
  }
}
header,
.intro,
.hero-details h3,
.hero-details-info,
.hero-details-price,
.buttons,
footer {
  margin-inline: 1.5rem;
}

header {
  margin-block: 2.5rem 4rem;
}

.background-image-header {
  display: none;
}

@media (min-width: 680px) {
  header {
    margin: 3.875rem 2.4375rem 5.9375rem 2.4375rem;
  }

  .background-image-header {
    display: block;
    width: auto;
    height: 25rem;
    position: absolute;
    top: -2rem;
    right: -2.5rem;
    /* left: 25rem; */
  }
}

h1 {
  font-weight: var(--bold-font-weight);
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -0.45px;
}

.intro p {
  font-size: 1rem;
  line-height: 1.625rem;
  margin-block-start: 1.25rem;
}

@media (min-width: 680px) {
  .intro {
    margin-inline: 2.4375rem 13.0625rem;
  }

  h1 {
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: -0.73px;
  }

  .intro p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-block-start: 1.75rem;
  }
}

.hero {
  margin-block-start: 10.375rem;
  background-color: var(--black);
  position: relative;
  border-radius: 0.75rem;
}

.background-image-hero {
  margin: 0 auto;
  max-width: 17.5rem;
  height: auto;
}

.mobile-screenshot {
  position: absolute;
  max-width: 13rem;
  height: auto;
  margin-inline: auto;
  left: 0;
  right: 0;
  top: -6.125rem;
}

@media (min-width: 680px) {
  .hero {
    margin-block-start: 15.5625rem;
    margin-inline: auto;
    max-width: 43.5rem;
    height: 37.5rem;
  }

  .mobile-screenshot {
    max-width: 16.875rem;
    margin-inline: 0;
    left: 4rem;
    top: -8.625rem;
  }
}

.hero-details {
  background-color: var(--red-orange);
  color: var(--white);
  border-radius: 0.75rem;
  margin-block-start: -2rem;
  position: relative;
  z-index: 1;
}

.hero-details h3 {
  font-weight: var(--bold-font-weight);
  font-size: 2rem;
  line-height: 2.5rem;
  padding-block-start: 3rem;
}

.hero-details-info {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-block: 0.75rem 2.25rem;
}

.hero-details-price {
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: -0.2px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hero-details-price strong {
  font-size: 4.0625rem;
  line-height: 3.25rem;
}

@media (min-width: 680px) {
  .hero-details {
    max-width: 25rem;
    height: 34.125rem;
    margin-block-start: -17rem;
    margin-inline-start: 15rem;
    position: relative;
    z-index: 1;
  }

  .hero-details h3,
  .hero-details-info,
  .hero-details-price,
  .buttons {
    margin-inline: 3rem;
  }
}

.buttons {
  font-weight: var(--bold-font-weight);
  font-size: 1.125rem;
  line-height: 2rem;
  letter-spacing: -0.18px;
  display: flex;
  flex-direction: column;
  margin-block-start: 2rem;
  gap: 1rem;
}

.ios-button,
.android-button {
  border-radius: 0.75rem;
  padding-block: 1.0625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-decoration: none;
  transition: all ease-in-out 450ms;
}

.ios-button {
  background-color: var(--black);
  color: var(--white);
}

.ios-button:hover {
  background-color: var(--blue);
}

.android-button {
  background-color: var(--white);
  color: var(--black);
  margin-block-end: 3rem;
}

.android-button:hover {
  background-color: var(--orange-yellow);
}

footer {
  margin-block-start: 4rem;
  overflow: hidden;
}

.footer-section {
  margin-block: 2rem 5rem;
}

footer p {
  font-size: 1rem;
  line-height: 1.625rem;
}

.social-icons {
  margin-block: 4rem 5rem;
  display: flex;
  gap: 1.25rem;
}

.social-icons-hover {
  transition: all ease-in-out 250ms;
  cursor: pointer;
}

.social-icons-hover:hover {
  fill: var(--red-orange);
}

@media (min-width: 680px) {
  footer {
    margin-block-start: 11.4375rem;
    margin-inline: 2.4375rem;
  }

  .footer-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer-section p {
    max-width: 23rem;
  }

  .social-icons {
    margin-block: 0;
  }
}

/* To Do:
Tablet versie: 
- achtergrondplaatje hero sectie
- eerst moeten uitzoomen bij laden pagina?

*/
