:root {
  --blue: #66e2dc;
  --red-orange: #fa7453;
  --orange-yellow: #ffb964;
  --white: #fcfaf9;
  --background-color: #f2f2f2;
  --black: #191826;
  --font-family: "IBM Plex Sans", sans-serif;
  --bold-font-weight: 700;
  --reg-font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  font-family: var(--font-family);
  font-weight: var(--reg-font-weight);
  background-image: url(images/bg-main-mobile.png);
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-position: right -225px top -225px;
}

header,
.intro,
.hero-details h3,
.hero-details-info,
.hero-details-price,
.buttons,
footer {
  margin-inline: 1.5rem;
}

header {
  margin-block: 2.5rem 4rem;
}

h1 {
  font-weight: var(--bold-font-weight);
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -0.45px;
}

.intro p {
  font-size: 1rem;
  line-height: 1.625rem;
  margin-block-start: 1.25rem;
}

.hero {
  margin-block-start: 10.375rem;
  background-color: var(--black);
  position: relative;
  border-radius: 0.75rem;
}

.background-image-hero {
  margin: 0 auto;
  max-width: 17.5rem;
  height: auto;
}

.mobile-screenshot {
  position: absolute;
  max-width: 13rem;
  height: auto;
  margin-inline: auto;
  left: 0;
  right: 0;
  top: -6.125rem;
}

.hero-details {
  background-color: var(--red-orange);
  color: var(--white);
  border-radius: 0.75rem;
  margin-block-start: -2rem;
  position: relative;
  z-index: 1;
}

.hero-details h3 {
  font-weight: var(--bold-font-weight);
  font-size: 2rem;
  line-height: 2.5rem;
  padding-block-start: 3rem;
}

.hero-details-info {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-block: 0.75rem 2.25rem;
}

.hero-details-price {
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: -0.2px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hero-details-price strong {
  font-size: 4.0625rem;
  line-height: 3.25rem;
}

.buttons {
  font-weight: var(--bold-font-weight);
  font-size: 1.125rem;
  line-height: 2rem;
  letter-spacing: -0.18px;
  display: flex;
  flex-direction: column;
  margin-block-start: 2rem;
  gap: 1rem;
}

.ios-button,
.android-button {
  border-radius: 0.75rem;
  padding-block: 1.0625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-decoration: none;
  transition: all ease-in-out 450ms;
}

.ios-button {
  background-color: var(--black);
  color: var(--white);
}

.ios-button:hover {
  background-color: var(--blue);
}

.android-button {
  background-color: var(--white);
  color: var(--black);
  margin-block-end: 3rem;
}

.android-button:hover {
  background-color: var(--orange-yellow);
}

footer {
  margin-block-start: 4rem;
  overflow: hidden;
}

footer p {
  margin-block-start: 2rem;
  font-size: 1rem;
  line-height: 1.625rem;
}

.social-icons {
  margin-block: 4rem 5rem;
  display: flex;
  gap: 1.25rem;
}

.social-icons-hover {
  transition: all ease-in-out 250ms;
  cursor: pointer;
}

.social-icons-hover:hover {
  fill: var(--red-orange);
}
