:root {
  --font-family-1: "Fraunces", serif;
  --font-family-2: "Montserrat", sans-serif;

  --fw-regular: 500;
  --fw-bold: 700;

  --color-background: #f2eae2;
  --color-card: #ffffff;
  --color-h1: #1c232b;
  --color-text-main: #6c7289;
  --color-accent: #3d8168;
  --color-hover: #1a4032;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

html,
body,
main {
  height: 100%;
}

body {
  background-color: var(--color-background);
}

main {
  padding: 1rem;
  display: grid;
  place-content: center;
}

.card {
  background-image: url(images/image-product-mobile.jpg);
  background-repeat: no-repeat;
  background-size: 343px 240px;
  max-width: 343px;
  padding-block: 16.5rem 1.5rem;
  border-radius: 0.625rem;
  background-color: var(--color-card);
  padding-inline: 1.5rem;
}

@media (min-width: 650px) {
  .card {
    background-image: url(images/image-product-desktop.jpg);
    background-repeat: no-repeat;
    background-size: 300px 452.4px;
    max-width: 600px;
    padding-inline: 20.75rem 2rem;
    padding-block: 2rem;
  }
}

small {
  font-family: var(--font-family-2);
  font-size: 0.75rem;
  line-height: 0.91rem;
  color: var(--color-text-main);
  text-transform: uppercase;
  letter-spacing: 4.5px;
  padding-block-start: 1.5rem;
}

@media (min-width: 650px) {
  small {
    padding-block-start: 0;
  }
}

h1 {
  font-family: var(--font-family-1);
  font-size: 2rem;
  line-height: 2rem;
  color: var(--color-h1);
  padding-block-start: 0.75rem;
}

@media (min-width: 650px) {
  h1 {
    padding-block-start: 1.25rem;
  }
}

p {
  font-family: var(--font-family-2);
  font-size: 0.875rem;
  line-height: 1.4375rem;
  color: var(--color-text-main);
  padding-block-start: 1rem;
}

@media (min-width: 650px) {
  p {
    padding-block-start: 1.5rem;
  }
}

.prices {
  padding-block-start: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.current-price {
  font-family: var(--font-family-1);
  font-size: 2rem;
  line-height: 2rem;
  color: var(--color-accent);
  font-weight: 700;
}

.previous-price {
  font-family: var(--font-family-2);
  font-size: 0.8125rem;
  line-height: 1.4375rem;
  color: var(--color-text-main);
  text-decoration: line-through;
}

@media (min-width: 650px) {
  .prices {
    padding-block-start: 1.8125rem;
  }
}

button {
  display: flex;
  gap: 0.726rem;
  justify-content: center;
  padding-block: 0.9375rem;
  width: 100%;
  background-color: var(--color-accent);
  border-radius: 0.5rem;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-block-start: 1.25rem;
  font-family: var(--font-family-2);
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: var(--color-card);
  font-weight: 700;
  transition: all ease-in-out 250ms;
}

@media (min-width: 650px) {
  button {
    margin-block-start: 1.875rem;
  }
}

button:hover,
button:focus {
  background-color: var(--color-hover);
}

.attribution {
  font-family: var(--font-family-2);
  text-align: center;
  font-size: 0.6rem;
  margin-block-start: 1.5rem;
  color: var(--color-h1);
}

.attribution a {
  color: var(--color-accent);
  text-decoration: none;
}

@media (min-width: 650px) {
  .attribution {
    font-size: 0.7rem;
    margin-block-start: 2rem;
  }
}
