:root {
  --background-color: #e0e9f3;
  --background-color-card: #ffffff;
  --main-color: #48556a;
  --paragraph-text-color: #6e8098;
  --date-text-color: #9daec2;
  --font-family: "Manrope", sans-serif;
}

/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px
- Font size: 13px

### Headings

- Family: [Manrope](https://fonts.google.com/specimen/Manrope)
- Weights: 500, 700

## Icons
*/

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
}

footer {
  font-size: 11px;
  text-align: center;
}
footer a {
  color: hsl(228, 45%, 44%);
}
